extends layout

block content
  link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/default.min.css')
  script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js')
  script(src='/javascripts/add.js')
  h1 Enter Markdown
  textarea(id='markdown' style='width: 720px; height: 480px')
  br
  input(id='passphrase' type='text' placeholder='passphrase')
  br
  button(id='submit') submit
